* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
  /* border: 1px solid black; */
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
}

.logo {
  /* border: 1px solid black; */
  display: inline;
  margin: 30px 30px;
}

.texts ul {
  /* border: 1px solid black; */
  width: 30rem;
  list-style: none;
  display: flex;
  gap: 36px;
  padding: 12px;
  margin: 30px 30px;
}

.texts ul li a {
  /* border: 1px solid black; */
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.registration {
  /* border: 1px solid black; */
  display: flex;
  gap: 12px;
  margin: 30px 30px;
}

.enter {
  /* border: 1px solid black; */
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3.6px;
  border: 1.2px solid rgba(8, 78, 183, 1);
  color: rgba(8, 78, 183, 1);
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.enter:hover {
  background: rgba(8, 78, 183, 1);
  color: white;
}

.register {
  /* border: 1px solid black; */
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(8, 78, 183, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 3.6px;
  cursor: pointer;
  margin-right: 20px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.one {
  /* background: lightblue; */
  margin: 0 10px;
}

.jorja_smith {
  object-fit: cover;
  width: 430px;
}
.jorja_info {
  text-align: center;
  margin: 10px 10px;
}
.title_1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.author_1, .stats_1 {
  font-size: 1rem;
  color: grey;
}

.two {
 /* border: 1px solid black; */
}

.sza {
  object-fit: cover;
  width: 450px;
}
.sza_info {
  text-align: center;
}
.title_2 {
  text-decoration: underline;
}
.three {
  /* background: lightpink; */
  margin: 0 10px;
}
.wizkid {
  object-fit: cover;
  width: 430px;
}